@page
@model Website.Pages.Shared.CRUDproductModel
@{
    ViewData["Title"] = "CRUD product";
  }
    <div class="allpage">
        <h1 class="display-4">Add Product</h1>
        <form class="loginform" method="post">
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="ProductName" placeholder="Product Name" />
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="StoreName" placeholder="Store Name" />
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="ProductCategory" placeholder="Category" />
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="ProductDescription" placeholder="Description" />
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="ProductPrice" placeholder="Price" />
            <input class="input" type="text" style="margin-bottom: 10px" asp-for="ProductQuantity" placeholder="Quantity" />

            <button class="submit" type="submit" id="submit">Create Product</button>
            <text class="alert-danger">@Model.ErrorMsg</text>
        </form>
    </div>