@model Website.Pages.FilterModel
<form asp-page="/SearchResult" method="post" asp-page-handler="edit">
    <br />
    <div class="form-inline">
        <br>
        <label for="minPriceText" style="padding-right:15px">Minimum Price:  </label>
        <input id="minPriceText" name="minPriceText" class="form-control" type="text" placeholder="Optional" aria-label="Search" style="width: 8%">
        <label for="maxPriceText" style="padding-right:15px;padding-left:15px">  Maximum Price:  </label>
        <input id="maxPriceText" name="maxPriceText" class="form-control" type="text" placeholder="Optional" aria-label="Search" style="width: 8%">
        <label for="categoryFilterText" style="padding-right:15px;padding-left:15px">  Category:  </label>
        <input id="categoryFilterText" name="categoryFilterText" class="form-control" type="text" placeholder="Optional" aria-label="Search" style="width: 20%">
        <label style="padding-left:25px"></label>
        <button type="submit" class="form-control btn btn-primary" style="width: 10%">Filter</button>
    </div>
</form>

