@page
@model Website.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <form method="post">
        <input type="text" asp-for="Username" placeholder="Username" />
        <input type="text" asp-for="Password" placeholder="Password" />
        <button type="submit" id="submit">Login</button>
    </form>
    @if (!Model.IsValid)
    {
        <div>
            <text class="alert-danger">Username or Password are not correct!</text>
        </div>
    }
</div>