@page
@model Website.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
    <div class="allpage">
        <h1 class="display-4">Register</h1>
        <form class="loginform" method="post">
            <input class="input" type="text" asp-for="Username" placeholder="Username" />
            <input class="input" type="text" asp-for="Password" placeholder="Password" />
            <button class="submit" type="submit" id="submit">Register</button>
            <text class="alert-danger">@Model.Error</text>
        </form>
    </div>