@page "{storeName}"
@model Website.Pages.StoreModel
@{
    ViewData["Title"] = Model.StoreName;
}
@using SEWorkshop.DataModels;

@{
    if(Model.Store == null)
    {
        @:<h1>Error</h1>
        @:<div>@Model.ErrorMsg</div>
    }
    else
    {
        @:<h1>@Model.Store.Name</h1>
        <h2 style="font-weight: bold;">Click on the products to add them to the cart!</h2>
        foreach(var product in Model.Store.Products)
        {
            ProductViewModel pvm = new ProductViewModel(product);
            pvm.destPath = pvm.Product.Store.Name;
            await Html.RenderPartialAsync("ProductView", pvm);
        }
    }
}

