@model Website.Pages.StoreViewModel

<div class="card" style="width: 30%">
    <div class="card-body">
        <h5 class="card-title"><a href='/Store/@Model.Store.Name'>@Model.Store.Name</a></h5>
    </div>
</div>
