@page "{storeName}"
@model Website.Pages.StoreModel
@{
    ViewData["Title"] = Model.Store?.Name;
}
@using SEWorkshop.DataModels;

@{
    if(Model.Store == null)
    {
        @:<h1>Error</h1>
        @:<div>@Model.ErrorMsg</div>
    }
    else
    {
        @:<h1>@Model.Store.Name</h1>
        foreach(var product in Model.Store.Products)
        {
            await Html.RenderPartialAsync("ProductView", new ProductViewModel(product));
        }
    }
}

