@page
@model Website.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

@if (Model.Username.Length > 0)
{
    @:<h1>@Model.Username's Purchase History</h1>
}

@{ if (Model.Purchases.Count() == 0)
    {
        @:<h6 style="color:#242c3c">No Purchases</h6>
    }
    else
    {
        string sid = HttpContext.Session.Id;
        var usr = Model.UserManager.GetDataLoggedInUser(sid);
        if (!Model.IsAdmin)
        {
            <h1>Your conversations</h1>
            if (usr.Messages.Count == 0)
            {
                <h6>No messages</h6>
            }
            foreach (var msg in usr.Messages)
            {
                await Html.RenderPartialAsync("MessagePartial", new MessagePartialModel(msg, true));
            }
        }
        if (!Model.IsAdmin)
        {
            <h1>Your Purchase History</h1>
        }
        if (Model.Purchases.Count() == 0)
        {
            <h6>No Purchases</h6>
        }
        foreach (var prchs in Model.Purchases)
        {
            await Html.RenderPartialAsync("PurchaseView", new PurchaseViewModel(@Model.UserManager,
                prchs, !Model.IsAdmin, Model.HttpContext.Session.Id));
        }
    }
}

@if (Model.IsAdmin)
{
    @:<h5>Select a user to view his purchase history</h5>
    @foreach (string username in Model.Users)
    {
        @:
        <div class="card-body">
            <h5 class="card-title"><a asp-page="/UserPage" asp-route-username="@username">@username</a></h5>
        </div>
    }
}