@page
@model Website.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<h1>@Model.Username's Purchase History</h1>

@{ if (Model.Purchases.Count() == 0)
    {
        @:<h6>No Purchases</h6>
    }
    else
    {
        foreach (var purchase in Model.Purchases)
        {
            await Html.RenderPartialAsync("PurchaseView", new PurchaseViewModel(@Model.UserManager, purchase, true, Model.HttpContext.Session.Id));
        }
    }
}

@if (Model.IsAdmin)
{
    @foreach (string username in Model.Users)
    {
        @:
        <div class="card-body">
            <h5 class="card-title"><a href='/UserPage/@username'></a>@username</h5>
        </div>
    }
}