@page
@model Website.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<h1>Your Purchase History</h1>

@{ if (Model.purchases.Count() == 0)
    {
@:<h6>No Purchases</h6>
    }
    else
    {
        foreach (var purchase in Model.purchases)
        {
            await Html.RenderPartialAsync("PurchaseView", new PurchaseViewModel(@Model.UserManager, purchase, true, Model.HttpContext.Session.Id));
        }
    }
}
