@page
@model Website.Pages.UsersStatisticsModel
@{
    ViewData["Title"] = "UsersStatistics";
}

<div class="allpage">
    <h1>Users Statistics</h1>
    <h4>@Model.DateTimeNow.ToShortDateString()</h4>
    <div style="overflow-x:auto">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Guests</th>
                    <th>Registered (not managers or owners)</th>
                    <th>Store Managers (but not owners)</th>
                    <th>Store Owners</th>
                    <th>System Admins</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>15</td>
                    <td>33</td>
                    <td>202</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>