<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @{
            var sessionId = Model.HttpContext.Session.Id;
            Model.UserManager.AccessSystem(sessionId);
            if (Model.UserManager.IsLoggedIn(sessionId))
            {
                var usrUp = Model.UserManager.GetDataLoggedInUser(sessionId);
                <script src="~/lib/signalr.js"></script>
                <script src="~/js/MessageNotificationsHubClient.js"></script>
                <script> connectToAllHubs('@usrUp.Username')</script>
            }
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img class="navbar-brand" src="~/Images/azamazon.png" width="175" height="86" alt="Sample Photo" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            var isLoggedIn = Model.UserManager.IsLoggedIn(Model.HttpContext.Session.Id);
                            var usr = isLoggedIn == false ? null : Model.UserManager.GetDataLoggedInUser(sessionId);
                            if (Model.UserManager.IsLoggedIn(Model.HttpContext.Session.Id))
                            {
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                                </li>
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CreateStore">Create Store</a>
                                </li>
                            }
                            else
                            {
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                                </li>
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
                                </li>
                            }
                            <li class="navbar-brand">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Stores">Stores</a>
                            </li>
                            <li class="navbar-brand">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cart">Cart</a>
                            </li>
                            if (isLoggedIn && usr != null)
                            {
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CreateProduct">Add Product</a>
                                </li>
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/UserPage" asp-route-username="">User Page</a>
                                </li>
                                <li class="navbar-brand">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/MyStores">My Stores</a>
                                </li>
                                <li class="navbar-brand">
                                    <!-- DO NOT CHANGE THIS UNREAD MESSAGES PATTERN. THINGS WILL BREAK -->
                                    <span id="pendingMsgs" class="nav-item">@usr?.AmountOfUnreadMessages unread messages</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div>
            @{ await Html.RenderPartialAsync("SearchBar", new SearchBarModel()); }
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
